@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    
    --cor0: rgb(237, 237, 237);
    --CorDoForm: #FFFFFF;
    --CorDoTexto: #333;
    --CorDoButton: #42A5F5;
    --CorDoHover: #1E88E5;

    --Fonte-padrao: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: var(--cor0)
    }

    .input-group{
        flex-direction: column;
        display: flex;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 20px;
        
    }

    .form-container {
    background-color: var(--CorDoForm);
    padding: 2rem;
    border-radius: 10px;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500PX;      
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vh;

    

   }
    
   h1 {
        text-align:center;
        color:  var(--CorDoTexto)
    }

    .form-container input {
        border: 2px solid #B0BEC5; 
        padding: 10px;
        border-radius: 5px;
    }

       .form-container label {
       color: #333333; 
       font-weight: bold;
    }

    button {
        background-color: var(--CorDoButton); /* Azul vibrante */
        color: var(--CorDoForm);
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        width: 28%;
        margin: 20px auto 0;
        display: block;
        max-width: 200px;
    
    }
    
    button:hover {
        background-color: var(--CorDoHover); /* Azul mais escuro no hover */
    }

    nav {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    background-color: rgb(230, 255, 246);
    
    }

    nav ul {
        list-style: none; /* Remove os marcadores da lista */
        margin: 15px;
        padding: 15px;
        display: flex; /* Deixa os itens lado a lado */
        
    }
    
    nav li {
        margin: 0 200px; /* Espaço entre os itens */
        font-family: arial, 15px;
    }

    nav ul li a {
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        color: black;
        font-size: 20px;



    }

    .a1 {
        position: absolute;
        top: 85%;
        left: 5%;
        color: #333333;
        text-decoration: none;
    }
    
    .a2 {
        position: absolute;
        top: 90%;
        left: 5%;
        color: #333333;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline; 
        color: #42A5F5; 
        }